on init

	export PATH /sbin:/system/bin

	export ANDROID_ROOT /system

	mkdir /system
	mkdir /data
	mount tmpfs nodev /tmp

	insmod /lib/modules/fsr.ko
	insmod /lib/modules/fsr_stl.ko
	#insmod /lib/modules/rfs_glue.ko
	#insmod /lib/modules/rfs_fat.ko
 
	insmod /lib/modules/param.ko 
	insmod /lib/modules/vibrator.ko

# Android ext2 symlinks

    mkdir /mnt_ext
    mkdir /mnt_ext/system
    mkdir /mnt_ext/data 0777 system system
    chown system system /mnt_ext/data
    chmod 0777 /mnt_ext/data
    mkdir /mnt_ext/cache 0777 system cache
    chown system cache /mnt_ext/cache
    chmod 0777 /mnt_ext/cache

    mkdir /mnt_ext/badablk2
    chmod 0777 /mnt_ext/badablk2
    mount vfat /dev/block/mmcblk0p2 /mnt_ext/badablk2 noatime
    mount ext2 loop@/mnt_ext/badablk2/Galaxyboot/ext2system.img /mnt_ext/system noatime
    mkdir /mnt_ext/badablk3
    chmod 0777 /mnt_ext/badablk3
    mount vfat /dev/block/mmcblk0p3 /mnt_ext/badablk3 noatime
    mount ext2 loop@/mnt_ext/badablk3/ext2data.img /mnt_ext/data noatime
    chown system system /mnt_ext/data
    chmod 0777 /mnt_ext/data
    #mount ext2 loop@/mnt_ext/badablk3/ext2cache.img /mnt_ext/cache noatime
    chown system cache /mnt_ext/cache
    chmod 0777 /mnt_ext/cache


    symlink /mnt_ext/system/ /system
    symlink /mnt_ext/data/ /data
    symlink /mnt_ext/cache /cache
    
#/efs symlink
    mkdir /data/efs 0771 system system
    chown system system /data/efs
    chmod 0771 /data/efs
    symlink /data/efs /efs
 
  	#mount rfs /dev/block/stl9 /system check=no
	#mount rfs /dev/block/mmcblk0p2 /data nosuid nodev check=no

	mkdir /data/log 0777
	mkdir /data/anr 0777

	chmod 0666 /dev/log/radio
	chmod 0666 /dev/log/main
	chmod 0666 /dev/log/event    

on boot
#	write /sys/class/sec/switch/usb_sel PDA

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service debuggerd /system/bin/debuggerd

#service console /bin/sh
service console /system/bin/sh
	console

service playlpm /system/bin/playlpm
    	user root

service immvibed /system/bin/immvibed 
	oneshot

service lpmkey /system/bin/charging_mode
    	user root
